{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

</head>
<body>
    <header>
        <div class="upper-menu-container">
            <ul class="upper-menu">
                <li><a href="">Become A Member</a></li>
                <li><a href="">Web Cam</a></li>
                <li><a href="">Trail Maps</a></li>
                <li><a href="">Trail Conditions</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Cart</a></li>
            </ul>
        </div>

        <div class="main-menu-container">
            <ul class="main-menu">
                <li><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Programs</a></li>
                <li><a href="">Trail Fees</a></li>
                <li><a href="">Activities</a></li>
                <li><a href="">Events</a></li>
                <li><a href="">Location</a></li>
                <li><a href="" class="donate">Donate</a></li>
            </ul>
        </div>

    </header>


    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="footer-container">
            <div class="copyright">Copyright &copy; {% now 'Y' %} Fort Kent Outdoor Center</div>
            <div class="footer-menu-container">
                <ul class="footer-menu">
                    <li><a href="">Home</a></li>
                    <li><a href="">Policies and Safety</a></li>
                    <li><a href="">Join Our Email List</a></li>
                    <li><a href="">Job Opportunities</a></li>
                    <li><a href="">Get In Touch</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>